* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #141414;
}

p {
  Font-size: 14px;
}

.container {
  background-color: #1f1f1f;
  width: 400px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.header {
  text-align: center;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-top: 35px;
}

.profile-name {
  margin-top: 25px;
  font-size: 25px;
  font-weight: 600;
}

.location {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 600;
  color: #c5f82a;
}

.description {
  margin-bottom: 30px;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

a {
  text-decoration: none;
  background-color: #333333;
  font-weight: 600;
  text-align: center;
  font-size: 15px;
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

a:hover {
  color: #141414;
  background-color: #c5f82a;
  cursor: pointer;
  transition: 0.5s;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
 }